<div class="app-card-container">
  <div class="card">
    <h1 class="col-md-8">About Me</h1>

    <div class="col-md-4"></div>

    <div class="row">
    
       <div class="col-md-8">
        <p>I am a young human being that is trying to survive on this world, this is my first time doing coding and its pretty sweet. I enjoy pretty much everything that life has to offer! </p>
    </div>
   
    <div class="col-md-4">
     
        <%= image_tag "profile.jpg", width: 245, alt: "Profile image", class: 'profile-img'%>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>