<div class="app-card-container">
  <div class="card">
    <h1 class="col-md-8">About Me</h1>

    <div class="col-md-4"></div>

    <div class="row">
    
       <div class="col-md-8">
        <p>I am a young human being that is trying to survive on this world, this is my first time doing coding and its pretty sweet. I enjoy pretty much everything that life has to offer! </p>
    </div>
   
    <div class="col-md-4">
     
        <%= image_tag "profile.jpg", width: 280, alt: "Profile image", class: 'profile-img'%>
      </div>
    </div>
  </div>
</div>