<div class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">This my first time creating this, the information that you will find here about me won't be useful yet! In the future it might be</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>
   
